.navbar {
    display: flex;
    justify-content: center;
    color: royalblue;
    height: 75px;
    width: auto;
    background-color: azure;
    margin: 5px 10px;
    flex-direction: row;
}

.searchBar
{
  margin:30px;
  display:flex;
  flex-direction:row;
  padding:5px; 
}

.searchBar > div
{
  flex:1 1 auto;
  border:1px red solid;
  text-align:left;
  padding: 5px;
  margin:5px; 
}